/*sizes*/
$header:100rem;
$footer:80rem;
//colors
$main-grey: #404040;
$main-blue:#1F5EA1;
$add-grey: #FBFBFB;
$el-stroke: #CECECE;
$add-blue: #919DAB;
$opacity-blue: #3c97eb26;

$main: #404040;
$white: #FFFFFF;
$white2: #FEFEFE;
$orange: #EDC50D;
$orange3: #CFAD10;
$yellow: #FFFAE3;
$yellow2: #C6A612;
$grey: #F5F5F5;
$grey2: #AAA;
$grey3: #D9D9D9;
$grey3: #C9C9C9;
$black: #202020;
$pink: #9331AC;
$blue: #005BFF;
$orange2: #F90;

//sizes
$pc: 1920;
$mobile: 768;
$ultra-mobile: 360;
//
$height-menu: 100rem;
$mobile-header: 80px;
$ultra-mobile-header: 80px;
//
$height-slider: 900rem;
$height-slider-mobile: 581px;
$height-slider-mobile2: 581px;
//
$burger-width:18px;
$burger-height:18px;
$burger-line:2px;

$shadow:0px 4px 15px 0px rgba(64, 64, 64, 0.06);

$shadow2:0 4rem 20rem 0 rgba(0, 0, 0, 0.05);
$shadow3:0px 4px 20px 0px rgba(32, 37, 60, 0.10);

